/* 대표색 갈색: #732634 버건디: #8C2641  탁한핑크: #D9B4BE 연한핑크: #F2CED8  딸기우유: #FAACC4*/

.wrapper_login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fdf8f9;
  overflow: hidden;
}
.container_login {
  border-radius: 10px;
  box-shadow:
    -5px -5px 10px #fff,
    5px 5px 10px #bebabc;
  position: absolute;
  width: 768px;
  min-height: 480px;
  overflow: hidden;
}
.login_form {
  background: #f9f3f4;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login_form input {
  background: #f9f3f4;
  padding: 16px;
  margin: 8px 0;
  width: 85%;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow:
    inset 7px 2px 10px #d6b5bf,
    inset -5px -5px 12px #fff;
}
.form_btn,
.overlay_btn {
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 45px;
  margin: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
}
.form_btn {
  box-shadow:
    -5px -5px 10px #fff,
    5px 5px 8px #bebabc;
}
.form_btn:active {
  box-shadow:
    inset 1px 1px 2px #babebc,
    inset -1px -1px 2px #fff;
}
.overlay_btn {
  background-color: #8c2641;
  color: #fff;
  box-shadow:
    -5px -5px 10px #a72d4d,
    5px 5px 8px #641b2e;
}
.sign_In_container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
}
.sign_up_container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
}
.overlay_left {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  background-color: #8c2641;
  color: #fff;
  transition: all 0.5s;
}
.overlay_right {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #8c2641;
  color: #fff;
  transition: all 0.5s;
}
.container_login.right_panel_active .sign_In_container {
  transform: translateX(100%);
  opacity: 0;
}
.container_login.right_panel_active .sign_up_container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 2;
}
.container_login.right_panel_active .overlay_right {
  transform: translateX(-100%);
  opacity: 0;
}
.container_login.right_panel_active .overlay_left {
  transform: translateX(-100%);
  opacity: 1;
  z-index: 2;
}
.social_links {
  margin: 20px 0;
}
.login_form h1 {
  font-weight: bold;
  margin: 14px;
  color: #000;
}

.p {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.social_links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow:
    -5px -5px 10px #fff,
    5px 5px 8px #babebc;
  cursor: pointer;
}
.social_links a {
  color: #000;
}
.social_links div:active {
  box-shadow:
    inset 1px 1px 2px #babebc,
    inset -1px -1px 2px #fff;
}
.success_message {
  color: rgb(1, 98, 1);
  font-size: 12px; /* 원하는 크기로 조정 */
}
.error_message {
  color: #ca0338;
  font-size: 11px; /* 원하는 크기로 조정 */
}
